html {

    overflow: hidden;
}

#extraButtonContainer
{
    position: absolute!important;
    z-index: 101;
    bottom: 0;
    left:0;
    background: #29373c!important;
}

#alertSection
{
    display:none;
    position: absolute;
    right: 0;
    bottom: 68px;
    z-index: 101;
    width: 100%;
    min-height: 40px;
}

.selectedcard
{
    padding: 0;
}

.ui.message.basic
{
    background: #ffffFF;
}
.scrollField
{
    overflow-x: hidden;
}

.ui.divided.list > .item.padded
{

    margin-top: 10px;
    padding: 10px 0px;

}

[type="folder"]{

    padding: 10px 5px 0 5px;

}

.ui.grid > .mini
{
    padding-top: 0.4rem!important;
    padding-bottom: 0.4rem!important;
}
.entityOpen {

    cursor: pointer!important;
}

.pointer {

    cursor: pointer!important;
}

.m-t-30 {

    margin-top: 30px!important;

}

.m-t-40 {

    margin-top: 40px!important;

}

.m-t-50 {

    margin-top: 50px!important;

}

/*.ui.grid {

    margin-top: 0px!important;
}*/

/*
.im-phone-call-buttons-container {

    background: #29373c!important;

}
.ui.search > .results .result
{
    cursor: auto!important;
}

.ui.search > .results .content
{
    cursor: pointer!important;
}

.ui.search > .results button
{
    cursor: pointer!important;
}


.ui.search > .results .ui.grid > .column:not(.row)
{
    padding-top: 0!important;;
    padding-bottom: 0!important;
    padding-left: 0!important;
}

.ui.search > .results .content
{
    padding-top: 1em!important;;
    padding-bottom: 1em!important;
    padding-left: 1em!important;
}

.ui.search > .results .extra
{
    padding-top: 1em!important;;
    padding-bottom: 1em!important;
    padding-left: 1em!important;
}

.ui.cards, .ui.cards > .card {
    margin: 0.875em 0em!important;
}


.ui.divided.list > .item
{
    padding: 10px 20px!important
}

.ui.list .list > .item .header, .ui.list > .item .header
{

    margin-bottom: 10px!important;

}


table.inputExtraForm {

    width: 100%!important;

}
table.inputExtraForm td
{
    width: 50%!important;
}


#im-phone-call-view-extra {

    height: 100%;
}


#im-phone-call-view-extra .nav-link {

    color: #6c757d;
}

#im-phone-call-view-extra .nav-link.active  {

    color: #ffc107;
    text-shadow: 1px 1px 1px #000000;

}


#im-phone-call-view-extra .form-group {
    margin-bottom: 0.3rem;
}

#im-phone-call-view-extra .crm-entity-card-widget-title {

    padding: 0 0 11px!important;
}

#im-phone-call-view-extra .main-ui-filter-search {
    margin: 25px auto 5px!important;
    width: 90%!important;
}

#im-phone-call-view-extra .ui.alert, .ui-alert-message {

    margin-bottom: 0px!important;
}
*/

#im-phone-call-view-extra .crm-tracking-entity-path-icon
{
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
    transform: translateY(2px);
    cursor: help;
}

#im-phone-call-view-extra .bx-ie .crm-tracking-entity-path-icon
{
    width: 14px;
}

#im-phone-call-view-extra .crm-tracking-entity-path-arrow
{
    width: 6px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%226%22%20height%3D%229%22%20viewBox%3D%220%200%206%209%22%3E%0A%20%20%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.5%22%20d%3D%22M3.043%204.263L0%201.145%201.014.106l4.057%204.157L1.014%208.42%200%207.38z%22/%3E%0A%3C/svg%3E%0A)
    no-repeat center;
}

/*
#im-phone-call-view-extra .crm-tracking-entity-path-item {
    cursor: help;
}*/